extends layout

block content
  h1= title
  div(ng-repeat="product in cCtrl.products")
    h3 {{product.name}}
    p {{product.description}}
    div
      p(ng-repeat="comment in product.comments") {{comment}}

    form(ng-hide="!product.showForm")
      input(ng-model="cCtrl.comment")
      button(ng-click="cCtrl.addComment(product)") Submit
    button(ng-hide="product.showForm",ng-click="cCtrl.makeItShow(product)") Show Form