extends layout

block content
  h1= title
  button(ng-hide="cCtrl.showProductForm",ng-click="cCtrl.showForm()") Add Product
  form(ng-hide="!cCtrl.showProductForm")
    p Product Name
    input(ng-model="cCtrl.productName")
    p Product Cost (US dollars)
    input(ng-model="cCtrl.productCost")
    p Product Description
    input(ng-model="cCtrl.productDescription")
    button(ng-click="cCtrl.addProduct()") Add Product
    button(ng-click="cCtrl.hideForm()") Cancel
  div(ng-repeat="product in cCtrl.products",ng-hide="cCtrl.singleView && !product.showDetail")
    h3 {{product.name}}
    p ${{product.cost}}
    p {{product.description}}
    div(ng-hide="!product.showDetail")
      h4 Product reviews:
      p(ng-repeat="comment in product.comments") {{comment}}
      form
        input(ng-model="cCtrl.comment")
        button(ng-click="cCtrl.addComment(product)") Submit
        button(ng-click="cCtrl.showFull(product)") See All Products
    button(ng-hide="product.showDetail",ng-click="cCtrl.showDetail(product)") Show Detail